body{
    height: 100vh;
}
.All{
    border: 6px solid blue ;
    display: flex;
    flex-direction: column;
    height: 75%;
    width: auto;
    margin-top: 60px;
    margin-left:100px;
    margin-right: 100px;
    
}
.top{
    display: flex;
    height: 50vh;
}
.bottom{
    text-align: center;
    width: auto;
    height: 50vh;
    margin: auto;
}
.rating{
    border: 1px solid blue;
    font-size: 15px;
    display: flex;
    padding: 10px 5px 10px 0px;
    width: 80%;
    border-radius: 5px;
}
.first{
    margin-top: 30px;
    margin-bottom: 10px;
}
.sec{
    margin-bottom: 10px;
    position: relative;
    left: 30px;
}
.third{
    position: relative;
    left: 60px;
}
.stars{
    margin-left: 20px;
    margin-right: 25px;
}
.star{
    width: 15px;
    height: 15px;
}
h1{
    margin: 0;
    margin-bottom: 10px;
}

.left{
    width:100vh;
    border: 7px solid red;
}
.right{
    width: 100vh;
    display: flex;
    flex-direction: column;
    border: 7px solid red;
}